* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ebebeb;
}

/* HEADER DO SISTEMA */
header {
    background-color: #269C72;
    align-content: center;
    max-height: 50px;
}

#logo{
    max-height: 100%;
}

/* PARTE SUPERIOR DO SISTEMA - SALDO E A RECEBER */
.segura_saldo_receber {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.background_saldo_receber {
    width: 39%;
    margin: auto;
    background-color: #fff;
    padding: 10px 5px 10px 5px;
    display: flex;
    color: #000;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0px 0px 1px #000;
}

/* AGRUPA TÍTULO E VALOR */
.agrupa_titulo_valor {
    display: flex;
    flex-direction: column;
    padding: 17px 13px;
    border-radius: 6px;
    width: 30%;
}

/* TÍTULO VALORES */
.titulo_valores {
    margin-left: 6px;
    transform: translateY(-4px);
    letter-spacing: 1px;
    color: #727272;
    font-weight: 550;
    font-size: 12px;
}

#last_titulo_valores{
    text-align: end;
}

.valor {
    padding: 5px;
    font-size: 18px;
    transform: translateX(3px);
    border-radius: 5px;
    transition: 0.5s;
}

#valor_saldo{
    width: 70%;
    color: #269C72;
}

#valor_saldo:hover {
    background-color: #269C72;
    color: #fff;
}

#valor_receber{
    width: 70%;
    color: #727272;
}

#valor_receber:hover {
    background-color: #727272;
    color: #fff;
}

#valor_despesa{
    margin-left: 30%;
    color: #A23E3E;
    text-align: end;
}

#valor_despesa:hover {
    background-color: #A23E3E;
    color: #fff;
}

/* SEGURA REGISTROS */
.segura_tabela {
    margin-top: 40px;
    width: 100%;
    display: flex;
}


/* EXPOSIÇÃO REGISTROS DO BANCO DE DADOS */
.registros {
    width: 90%;
    background-color: #fff;
    margin: auto;
    padding-bottom: 15px;
    box-shadow: 0px 0px 1px #000;
    border-radius: 6px;
}

/* NAVEGAÇÃO ENTRE PÁGINAS*/
.navegacao {
    width: 100%;
    background-color: #269C72;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 10px;
    border: 1px 1px 0px 1px solid;
}

/* alinha 'botoes' */
.tipo {
    display: flex;
    width: 90%;
}

/* 'botao' */
.nome_da_pagina {
    padding: 10px;
    width: 17.5%;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.8px;
}


#pag-ativa.nome_da_pagina{
    background-color: #fff;
    border-radius: 6px 0px 0px 0px;
    color: #269C72;
}

#pag-ativa2.nome_da_pagina{
    background-color: #fff;
    color: #269C72;
}

#pag-ativa3.nome_da_pagina{
    background-color: #fff;
    color: #269C72;
}

#pag-ativa4.nome_da_pagina{
    background-color: #fff;
    color: #269C72;
}

input[name="pagina"]{
    font-size: 17px;
    color: #fff;
    background: none;
}

input[id="pag-ativa"]{
    font-size: 17px;
    color: #269C72;
}

input[id="pag-ativa2"]{
    font-size: 17px;
    color: #269C72;
}

input[id="pag-ativa3"]{
    font-size: 17px;
    color: #269C72;
}

input[id="pag-ativa4"]{
    font-size: 17px;
    color: #269C72;
}

/* SEGURA A EXIBIÇÃO DOS REGISTROS */
#tabela {
    padding: 6px;
    width: 97%;
    min-height: 0px;
    overflow: hidden;
    background-color: #269C72;
    color: #fff;
    margin: auto;
    border-radius: 6px 6px 0px 0px;
    transform: translateY(5px);
}

#tabela.fora4{
    font-size: 15px;
}

.fora4 {
    padding: 6px;
    width: 97%;
    min-height: 200px;
    max-height: 300px;
    overflow: scroll;
    background-color: #d8d7d7;
    margin: auto;
    border-radius: 6px;
}

@media(max-width:1300px) {
    #tabela {
        visibility: hidden;
    }
    .fora4{
        transform: translateY(-40px);
        min-height: 200px;
    }
    .registros{
        padding-bottom: 0px;
        height: 290px;
    }
}

@media(max-width:1090px) {
    .fora4 {
        overflow-x: scroll;
    }

    #tabela {
        visibility: hidden;
    }

    .nome {
        letter-spacing: 0px;
        font-size: 13px;
    }
}

/*margin pra registros*/
.marg {
    margin-bottom: 10.5px;
    display: flex;
    width: 100%;
}

.marg:first-child {
    margin-top: 4px;
}

.marg:last-of-type {
    margin-bottom: 0px;
}

/* alinhar registro com input de exclusão */
.fora5 {
    display: flex;
    padding-left: 2px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    justify-content: space-between;
}

/* exposição da tupla */
.expor {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 98%;
    max-height: 40px;
    min-width: 1604px;
}

.expor2 {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 98%;
    max-height: 40px;
    min-width: 1604px;
    background-color: #fff;
    border-radius: 10px;
}

#cabecalho {
    padding: 0px 10px;
    margin: auto;
    display: flex;
    width: 98%;
    min-width: 1604px;
}

.inforeg {
    width: 12%;
    margin: auto;
    text-align: center;
}

.inforeg2 {
    width: 12%;
    margin: auto;
    text-align: center;
}

.inforeg3 {
    width: 10%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}


@media(max-width:1190px) {
    .expor {
        font-size: 15px;
    }
}


/* TESTE BOTÕES */
.fora6 {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: auto;
}

.t1 {
    width: 50%;
    overflow: hidden;
}

.t2 {
    width: 50%;
    overflow: hidden;
    text-align: end;
}

.final {
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #D9D9D9;
    box-shadow: 0.5px 0.5px 3px #7c7c7c;
    letter-spacing: 0.5px;
}

.marge{
    width: 25%;
    margin: auto;
}

.final:hover {
    background-color: #269C72;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px #269C72;
}

/* SELECT */
select[name="ano"] {
    display: block;
    width: 75%;
    text-align: center;
    margin: auto;
    height: 25px;
    font-size: 15px;
    line-height: 1.75;
    color: #269C72;
    background-color: #ffffff;
    -ms-word-break: normal;
    word-break: normal;
}

/* CADASTRO DE CLIENTES */
.fora7 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
}

.cadastro {
    background-color: #fff;
    width: 40%;
    margin: auto;
    box-shadow: 0px 0px 1px #000;
    border-radius: 6px;
    padding-bottom: 10px;
}

.cadastro:nth-child(2){
    margin-top: 0px;
}

.cad {
    background-color: #269C72;
    padding: 10px;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.formcadastro {
    width: 85%;
    margin: auto;
    padding: 5px;
    border-radius: 6px;
    background-color: #D9D9D9;
}

.formc {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #269C72 ;

}

.formc input {
    border: 0.1px solid #269C72;
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.inputcadastro {
    width: 50%;
}


select[id="sel"] {
    border: 0.1px solid #269C72;
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, sans-serif;
    width: 103%;
}

input[type="email"]:focus,
select[id="sel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="text"]:focus {
    outline: none;
    color: #269C72;
    box-shadow: 0px 1px 2px #269C72;
}

.info {
    width: 40%;
    color: #000;
}

.centcadastro {
    width: 95%;
    margin: auto;
}


.pagar{
    padding: 2px 4px;
    color: #000;
    background-color: #D9D9D9;
    border-radius: 2px;
}

#pago:hover{
    background-color: #3ab840a9;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

#excluir:hover{
    background-color: #aa0101a2;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

